autopep8
aws-shell
build
cash-balance
commonmark
currencyconverter
distlib
django-rest-knox
filelock
flake8
forex-python
fqdn
glances
isoduration
jsonpointer
jupyter
khal
kubernetes
markdown
openpyxl
pip-autoremove
pip-chill
pipx
pysocks
scipy
seaborn
selenium
tabulate
twine
unidecode
unsilence
uri-template
webcolors
webdriver-manager
